body
{
  min-width: 250px;
  margin: 0px;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 13px;
  color: #545454;
	background-color: hsl(245, 80%, 89%);
}


#wrapper
{
  padding: 0px 20px;
}

#notification
{
  margin-bottom: 10px;
}

#notification
{
  position: relative;
  margin-top: -70px;
  min-height: 50px;
  padding: 10px;
  color: #fff;
  border: 3px solid black;
  background-color: #555;
}

#notification.critical
{
  border-color: #a4311c;
  background-color: #c72e12;
}

#notification.information
{
  border-color: #1c5fa4;
  background-color: #1281c7;
}

#notification h1
{
  margin: 0px 15px 5px 0px;
  font-size: 15px;
}

#notification a
{
  color: #fff;
}

#notification-close
{
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  background-image: url(close.png);
  background-position: -34px -89px;
}

#notification.closing
{
  border-color: #000;
  background-color: #020D14;
}

#notification.closing #notification-content,
#notification:not(.closing) #notification-close-content
{
  display: none;
}

#notification-close-content li
{
  padding: 7px 7px 7px 17px;
  color: #FFF;
  text-decoration: underline;
  white-space: inherit;
  border: none;
}

#notification-close-content li::before
{
  content: "\0203A";
  display: inline-block; /* prevent pseudo element from being underlined */
  width: 10px;
  margin-left: -10px;
}

#notification-close-content li:hover
{
  background-color: rgba(255, 255, 255, 0.2);
}
h4 {
	text-align: center;
  padding: 0.2em 0.5em 0 2.5em;
  background: url(search-bookmarked32.png) no-repeat 0.5em;
  background-size: contain;
	font-size: 1.2em;
	white-space: nowrap;
}
ul
{
  margin: 1em 0 0 0;
  padding: 0px;
}

li
{
  cursor: pointer;
  list-style-type: none;
  white-space: nowrap;
  border-top: 1px dashed #999;
  padding: 10px 0px 10px 15px;
  margin: 0 20px;
}
li[data-ftype="sub"], li[data-ftype="dom"] {
	border-top-color: hsl(0,0%,70%);
	border-top-style: dotted;
}
li.borderX {
  border-top: 2px dashed #999;
}


li:hover
{
  background-color: hsla(0, 0%, 100%,0.3);
}

li::before
{
	content:" ";
  display: inline-block;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 1ex;
  vertical-align: top;
}

[role=switch]::before
{
  background-image: url(q.png);
}
[role=switch] span::before
{
	font-weight: bold;
	Content: "Unknown";
  color: #666;
}

[role=switch].unset span::before
{
	Content: "No rule";
}
[role=switch].yes span::before
{
	Content: "Enabled";
  color: #12610e;
}
[role=switch].no span::before
{
	Content: "Disabled";
  color: #ac0505;
}

[role=switch].unset::before
{
  background-image: url(o.png);
}
[role=switch].yes::before
{
  background-image: url(v.png);
}
[role=switch].no::before
{
  background-image: url(x.png);
}

#report {
	margin-top: 10px;
}
#report::before
{
  background-image: url(bub.png);
}


#options
{
  padding: 10px 0px 15px 35px;
  margin: 20px 0 0 0;
  border-top: 1px solid hsla(0, 0%, 0%,0.1);
  background-color: hsla(0, 0%, 0%,0.05);
}

#options:hover
{
  background-color: hsla(0, 0%, 0%,0.1);
}

#options::before
{
  background-image: url(options.png);
}